In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("netflix_data.csv")

In [2]:
data.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

# Task 1

In [3]:
data["country"].replace(np.nan, "United States",inplace=True)

In [4]:
data.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,United States,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

# Task 2

In [44]:
a=data.groupby(["type","country"]).size()
a["Movie"].nlargest(10)

country
United States     2330
India              883
United Kingdom     341
Canada             175
France             137
Spain              119
Egypt               93
Mexico              79
Turkey              78
Japan               75
dtype: int64

In [45]:
a["TV Show"].nlargest(10)

country
United States     1060
United Kingdom     236
Japan              162
South Korea        152
Canada              84
India               73
Taiwan              70
France              59
Australia           52
Spain               49
dtype: int64

In [14]:
data.groupby("release_year").size()

release_year
1925       1
1942       2
1943       3
1944       3
1945       3
1946       2
1947       1
1954       2
1955       3
1956       2
1958       3
1959       1
1960       4
1962       3
1963       2
1964       1
1965       2
1966       1
1967       5
1968       5
1969       2
1970       2
1971       5
1972       4
1973      10
1974       7
1975       6
1976       9
1977       7
1978       6
        ...
1992      18
1993      22
1994      16
1995      19
1996      19
1997      30
1998      31
1999      33
2000      34
2001      36
2002      45
2003      49
2004      59
2005      73
2006      85
2007      85
2008     125
2009     137
2010     173
2011     166
2012     219
2013     267
2014     334
2015     541
2016     882
2017    1012
2018    1121
2019     996
2020     868
2021      31
Length: 73, dtype: int64

# Task 3

In [46]:
s=data.groupby(["type","release_year"]).size()
s["Movie"]

release_year
1942      2
1943      3
1944      3
1945      3
1946      1
1947      1
1954      2
1955      3
1956      2
1958      3
1959      1
1960      4
1962      3
1963      1
1964      1
1965      2
1966      1
1967      4
1968      4
1969      2
1970      2
1971      5
1972      3
1973     10
1974      6
1975      6
1976      9
1977      6
1978      6
1979     10
       ...
1992     16
1993     18
1994     15
1995     17
1996     16
1997     26
1998     27
1999     26
2000     30
2001     32
2002     39
2003     40
2004     50
2005     61
2006     72
2007     72
2008    102
2009    103
2010    136
2011    127
2012    158
2013    202
2014    244
2015    382
2016    642
2017    744
2018    734
2019    582
2020    411
2021     12
Length: 72, dtype: int64

# Task 4

In [47]:
s["TV Show"]

release_year
1925      1
1946      1
1963      1
1967      1
1968      1
1972      1
1974      1
1977      1
1979      1
1981      1
1985      1
1986      2
1988      2
1989      1
1990      3
1991      1
1992      2
1993      4
1994      1
1995      2
1996      3
1997      4
1998      4
1999      7
2000      4
2001      4
2002      6
2003      9
2004      9
2005     12
2006     13
2007     13
2008     23
2009     34
2010     37
2011     39
2012     61
2013     65
2014     90
2015    159
2016    240
2017    268
2018    387
2019    414
2020    457
2021     19
dtype: int64